.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  gap: 20px;
  width: 230px;
  min-width: 230px;
  height: 450px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  background-color: #111;
  flex-shrink: 0;
  cursor: pointer;

  img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }

  .scale {
    position: absolute;
    bottom: 100px;
    left: 10px;
    width: 50px;
    height: 50px;
  }

  .genres {
    position: absolute;
    bottom: 90px;
    right: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;

    span {
      background: #da2f68;
      padding: 5px 8px;
      border-radius: 6px;
      font-size: 11px;
      font-weight: 300;
      color: white;
    }
  }

  .title {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h4 {
      font-size: 16px;
      color: #fff;
      font-weight: 600;
    }

    p {
      color: #ffffff67;
      font-size: 13px;
    }
  }

  @media (max-width: 1024px) {
    width: 180px;
    min-width: 180px;
    height: 350px;

    img {
      height: 280px;
    }

    .scale {
      width: 40px;
      height: 40px;
      bottom: 80px;
    }

    .genres span {
      font-size: 10px;
      padding: 4px 6px;
    }

    .title h4 {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    width: 160px;
    min-width: 160px;
    height: 320px;

    img {
      height: 250px;
    }

    .scale {
      width: 38px;
      height: 38px;
      bottom: 80px;
    }

    .genres {
      bottom: 75px;
      right: 3px;
      gap: 3px;
    }

    .genres span {
      font-size: 9px;
      padding: 3px 5px;
    }

    .title h4 {
      font-size: 13px;
    }
  }

  @media (max-width: 480px) {
    width: 160px;
    min-width: 140px;
    height: 310px;

    img {
      width: 100%;
      height: 240px;
    }

    .scale {
      width: 32px;
      height: 32px;
      bottom: 80px;
    }

    .genres {
      bottom: 60px;
      gap: 2px;
    }

    .genres span {
      font-size: 8px;
      padding: 2px 4px;
    }

    .title h4 {
      font-size: 12px;
    }

    .title p {
      font-size: 11px;
    }

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
   @media (max-width: 347px) {
    width: 200px;
    min-width: 200px;
    height: 340px;

    img {
      width: 100%;
      height: 280px;
    }

    .scale {
      width: 32px;
      height: 32px;
      bottom: 80px;
    }

    .genres {
      bottom: 60px;
      gap: 2px;
    }

    .genres span {
      font-size: 8px;
      padding: 2px 4px;
    }

    .title h4 {
      font-size: 12px;
    }

    .title p {
      font-size: 11px;
    }

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
