.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  gap: 20px;
  // width: 100%;
  width: 200px;
  height: 400px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  img {
    // width: 100%;
    border-radius: 10px;
    height: 400px;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }
  .scale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: white;
    color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 66px;
    left: 10px;
  }
  .genres {
    position: absolute;
    bottom: 90px;
    right: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      background: #da2f68;
      padding: 5px 8px;
      border-radius: 6px;
      font-size: 11px;
      font-weight: 300;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      color: #ffffff67;
    }
  }
}
