.container {
  padding-block: 40px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // overflow-x: auto;
      // scrollbar-width: none;
      // &::-webkit-scrollbar{
      //   display: none;
      // }
      // -ms-overflow-style: none;
      .btn-next{
        position: absolute;
        top: 160;
        right: -90;
        z-index: 100;
      }
    }
  }
}