.container {
  padding-block: 40px;

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 24px;
      }
      .toggles {
        display: flex;
        gap: 12px;
      }

      .toggleGroup {
        display: flex;
        background: white;
        border-radius: 20px;
        overflow: hidden;

        button {
          margin: 4px;
          padding: 6px 14px;
          border: none;
          background: transparent;
          color: black;
          cursor: pointer;
          font-size: 14px;
          transition: all 0.3s ease;

          // &:hover {
          //   color: ;
          // }
        }
        .active {
          background: linear-gradient(98.37deg, #b509bd 0.99%, #da2f68 100%);
          color: white;
        }
      }
    }

    .list {
      position: relative;
      width: 100%;

      /* ===== Navigation buttons ===== */
      .btn-prev,
      .btn-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;

        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        font-size: 18px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
      }

      .btn-prev {
        left: -20px;
      }

      .btn-next {
        right: -20px;
      }

      .btn-prev:hover,
      .btn-next:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  /* ================== ADAPTATION ================== */

  @media (max-width: 1024px) {
    .mainContainer {
      .top h3 {
        font-size: 22px;
      }

      .list {
        .btn-prev,
        .btn-next {
          width: 40px;
          height: 40px;
          font-size: 16px;
        }

        .btn-prev {
          left: -45px;
        }

        .btn-next {
          right: -45px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mainContainer {
      .top h3 {
        font-size: 20px;
      }

      .list {
        .btn-prev,
        .btn-next {
          width: 35px;
          height: 35px;
          font-size: 14px;
        }

        .btn-prev {
          left: -35px;
        }

        .btn-next {
          right: -35px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .mainContainer {
      .top h3 {
        font-size: 18px;
      }

      .list {
        .btn-prev,
        .btn-next {
          width: 30px;
          height: 30px;
          font-size: 12px;
        }

        .btn-prev {
          left: -25px;
        }

        .btn-next {
          right: -25px;
        }
      }
    }
  }
}
