.container {
  padding-block: 40px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .toggle {
        display: flex;
        background: #ffffff1a;
        border-radius: 30px;
        overflow: hidden;
        padding: 4px;

        button {
          background: transparent;
          border: none;
          color: #fff;
          padding: 6px 16px;
          font-size: 14px;
          border-radius: 30px;
          cursor: pointer;
          transition: all 5s ease;

          &:hover {
            opacity: 0.8;
          }

          &.active {
            background: linear-gradient(90deg, #d946ef, #8b5cf6);
            color: #fff;
          }
        }
      }
    }
    .list {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        display: flex;
        align-items: center;
      }
      .btn-next {
        position: absolute;
        top: 160;
        right: 0;
        z-index: 100;
      }
    }
  }

  @media (max-width: 1024px) {
    .mainContainer {
      .top h3 {
        font-size: 22px;
      }
      .list {
        .btn-prev,
        .btn-next {
          width: 40px;
          height: 40px;
          font-size: 16px;
          left: -40px;
          right: -40px;
        }
        .btn-next {
          top: 50px;
          left: 60px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mainContainer {
      .top h3 {
        font-size: 20px;
      }
      .list {
        .btn-prev,
        .btn-next {
          width: 35px;
          height: 35px;
          font-size: 14px;
          left: -25px;
          right: -25px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .mainContainer {
      .top h3 {
        font-size: 18px;
      }
      .list {
        .btn-prev,
        .btn-next {
          width: 30px;
          height: 30px;
          font-size: 12px;
          left: -10px;
          right: -10px;
        }
      }
    }
  }
}
