:root {
  --color-bg: #101c3a;
  --color-bg-alt: #04152d;
  --color-text-primary: #fff;
  --color-accent: #b509bd;
  --color-accent2: #da2f68;
  --color-link-hover: blueviolet;
  --color-btn-bg: #b509bd;
  --color-btn-hover: #da2f68;
  --border-radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  /* max-width: 1480px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  @media (max-width: 1534px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-geist-sans), sans-serif;
  min-height: 100vh;
}
input {
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 16px;
  background: var(--color-bg-alt);
  color: var(--color-text-primary);
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.2s;
  box-shadow: none;
}
input:focus {
  box-shadow: 0 0 0 2px var(--color-accent2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: white;
  line-height: 1.2;
}
h1 {
  font-size: clamp(1rem, -0.682rem + 8.41vw, 5.625rem);
}
h2 {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
}
h3 {
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}
h4 {
  font-size: clamp(0.5rem, 0.364rem + 0.68vw, 0.875rem);
}
a {
  font-size: inherit;
  color: var(--color-accent);
  cursor: pointer;
  transition: color 0.2s;
}
a:hover {
  color: var(--color-link-hover);
}
span {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
}
button {
  padding: 12px 18px;
  /* min-width: 90px;
  min-height: 40px; */
  border-radius: var(--border-radius);
  border: none;
  font-size: 1.04rem;
  color: #fff;
  background: linear-gradient(
    98.37deg,
    var(--color-btn-bg) 0.99%,
    var(--color-btn-hover) 100%
  );
  transition: 0.2s;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  background: linear-gradient(
    98.37deg,
    var(--color-btn-hover) 0.99%,
    var(--color-btn-bg) 100%
  );
  transform: scale(1.05);
}
  