.container {
  padding-block: 40px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 40px;
    }
  }
}